footer {
  width: 100%;
  margin-top: 2rem;
  font-family: 'Noto-Sans KR', sans-serif;
  text-align: center;
  min-height: 448px;
}
.footer-overlay {
  display: none;
}
.footer-language {
  position: relative;
  text-align: center;
}
.language-selector {
  display: inline-block;
  font-size: 1rem;
  color: #333;
  line-height: 1.4;
  vertical-align: baseline;
  text-align: center;
  box-sizing: border-box;
}
.language-icon {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 5px;
  color: #0072B5;
  width: 1.5rem;
  height: 1.7rem;
}
.language-icon svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  fill: currentColor;
  pointer-events: none;
}
.language-select {
  background: transparent;
  border: 0;
  font-size: 1rem;
}
.language-select:focus-visible {
  outline: none;
}
.language-arrow {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-left: 2px;
  width: 1rem;
  height: 1rem;
  color: rgba(0,0,0,0.5);
  display: none;
}
.language-arrow svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  fill: currentColor;
  pointer-events: none;
}
.footer-logo {
  margin: 2rem 0;
  height: 4rem;
}
.footer-logo a {
  display: block;
  width: 8rem;
  height: 4rem;
  margin: 0 auto;
  text-align: center;
}
.footer-logo > a > img {
  height: 100%;
}
.footer-nav {
  margin: 1rem 0;
}
.footer-nav-items {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  margin-top: 1.5rem;
}
.footer-nav-item {
  display: inline-block;
  white-space: nowrap;
  vertical-align: baseline;
}
.footer-nav-item:nth-child(n + 2)::before {
  content: '';
  display: inline-block;
  height: 0.75rem;
  width: 1px;
  background-color: rgba(0,0,0,0.3);
  margin: 0 1rem;
  pointer-events: none;
}
.footer-nav-item a {
  font-size: inherit;
  line-height: 1.4;
  color: rgba(0,0,0,0.7);
  text-decoration: none;
  background: transparent;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: 'Noto-sans KR', sans-serif;
}
.footer-trademark {
  font-size: 0.75rem;
  line-height: 1.4;
  color: rgba(0,0,0,0.5);
  margin: 0;
}
.footer-donotsell {
  font-size: 0.75rem;
  line-height: 1.4;
  color: rgba(0,0,0,0.7);
  font-weight: bold;
  margin: 0;
}
.footer-sublink-item {
  display: inline-block;
  font-size: 0.75rem;
}
.footer-sublink-item:nth-child(n + 2)::before {
  content: '';
  display: inline-block;
  height: .5rem;
  width: 1px;
  background-color: rgba(0,0,0,0.3);
  margin: 0 .5rem;
  pointer-events: none;
}
.footer-sublink-item a {
  font-size: inherit;
  line-height: 1.4;
  color: rgba(0,0,0,0.7);
  text-decoration: none;
  background: transparent;
  white-space: nowrap;
}
.footer-legal {
  padding: 2rem 1.5rem;
}
.footer-legal-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5rem 1rem;
  margin-bottom: 2rem;
  line-height: 1.4;
  color: rgba(0,0,0,0.5);
  vertical-align: top;
}
.legal-line {
  word-break: keep-all;
  display: inline-block;
  font-size: 0.75rem;
}
.legal-line a {
  font-size: inherit;
  font-weight: bold;
  line-height: 1.4;
  color: rgba(0,0,0,0.7);
  text-decoration: none;
  background: transparent;
  white-space: nowrap;
  transition: color 200ms,background-color 200ms,border-color 200ms;
}

